.background {
  background-color: var(--color-bg);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-inline: 8px;
  border-radius: 16px;

  width: 100%;
  box-shadow: 5px 5px 0 #00000025;
}

.container {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-inline: 32px;
  border-radius: 8px;

  width: 100%;

  background: #ffffff;
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 18%,
    rgba(252, 240, 244, 0.6) 100%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 18%,
    rgba(252, 240, 244, 0.6) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 18%,
    rgba(252, 240, 244, 0.6) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#FCF0F4", GradientType=0);

  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);

  border: 2px solid var(--color-primary-light);
}

.item {
  padding-top: 12px;
  padding-bottom: 24px;

  display: flex;
  width: fit-content;
  gap: 12px;
  width: 100%;

  border-bottom: 2px solid var(--color-primary-light);
  overflow: scroll;
  scrollbar-width: none;
}

.selectorButtons {
  display: flex;
  gap: 12px;

  width: 500px;
}

.pendingText {
  font-size: var(--font-size-xl);
  letter-spacing: -1.5;
  line-height: 1;

  width: 100%;
  background-color: #ffffff;
  color: var(--color-primary);
}

@media (max-width: 767px) {
  .container {
    overflow: hidden;
    padding-inline: 16px;
  }
  .selectorButtonContainer {
    width: fit-content;
    padding-right: 6px;
  }
}
